ul.list {
  list-style-type: none;
  padding: 0px;
  width: 400px;
  border-radius: 4px;
}

li.list a{
  border: 1px solid #c4c4c4;
  background-color: #e1dce6;
  font-size: 15px;
  width: 75%;
  display: block;
  color: #000;
  margin-bottom: 6px;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  float:left;

  font-family: Calibri;
}


/* Change the link color on hover */
li a:hover {
  outline: none;
  border-radius: 4px;
  border: 1px solid #7bc1f7;
  box-shadow: 0px 0px 8px #7bc1f7;
  -moz-box-shadow: 0px 0px 8px #7bc1f7;
  -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}
li a.active {
  outline: none;
  border-radius: 4px;
  border: 1px solid #7bc1f7;
  box-shadow: 0px 0px 8px #7bc1f7;
  -moz-box-shadow: 0px 0px 8px #7bc1f7;
  -webkit-box-shadow: 0px 0px 8px #7bc1f7;
  background-color: #7bc1f7;
}
li a:hover:not(.active) {
  outline: none;
  border-radius: 4px;
  border: 1px solid #7bc1f7;
  box-shadow: 0px 0px 8px #7bc1f7;
  -moz-box-shadow: 0px 0px 8px #7bc1f7;
  -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

button.list{
   border: 1px solid #c4c4c4;
   background-color: #7bc1f7;
   font-weight: bold;
   font-size: 15px;
   width: 20%;
   height: 35px;
   border-radius: 4px;
   box-shadow: 0px 0px 8px #d9d9d9;
   float:right;
 }
.test{
  border: 1px solid #c4c4c4;
  background-color: #7bc1f7;
  width: 10%;
  height: 5%;
  min-width: 50px;
  font-weight: bold;
  font-size: 15px;
  padding: 4px 4px 4px 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0px 0px 8px #d9d9d9;
  -moz-box-shadow: 0px 0px 8px #d9d9d9;
  -webkit-box-shadow: 0px 0px 8px #d9d9d9;
}
