<br>
<div>
  <label for="tbListname">List Name</label>
  <input type="text" id="tbListname" [(ngModel)]="_listName">
  <button id="addListname" (click)="addList()" *ngIf="buttonShowAdd">Add</button>
  <button id="editListname" (click)="editList()" *ngIf="buttonShowEdit">Edit</button>
  <button id="deleteListname" (click)="deleteList()" *ngIf="buttonShowDelete">Delete</button>

<h2>Lists</h2>
<ul>
  <li *ngFor='let listNa of _listsNameArray; let i = index'>
    <a (click)="listClicked(i)">{{_listsNameArray[i]}}</a>
  </li>
</ul>
</div>
<button id="goToList" class="goToList" [routerLink]="['list/',_listsNameArray[index]]">Go to List</button>
