ul.nav.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

li.nav  {
  float: left;
}
li.auth  {
  float: right;
}

li.nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li.nav a:hover {
  background-color: cornflowerblue;
}
body{
  margin-top: 0px;
}
li.nav.auth a {
  display: block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}
